*{
	margin:0px;
	padding:0px;
}
body{
	background-image: url('../img/play_BG.png');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.container{
	max-width: 1080px;
	margin: auto;
	padding: 15px;
	position: relative;
}
header{
	background-image: url(../img/headerBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 18px 20px;
}
header h3{
	color: #fff;
    font-size: 22px;
    text-align: center;
    font-family: cursive;
}
.operation-container{
	display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:50px;
    margin-bottom:50px;
}
.operation-container > div .result{
	height: 155px;
    width: 180px;
    background-image: url('../img/cloud.png');
    background-size: 100% 100%;
}

.numbers{
	display: flex;
	justify-content: space-evenly;
	
}
.numbers img{
	cursor:pointer;
}
footer{
	width:100%;
	max-width: 1080px;
	margin:auto;	
}
.footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width:inherit;
    max-width:inherit;
    bottom:20px;
}
.footer img{
	cursor:pointer;
	width:80px;
}

.footer img:first-child{margin-left: 15px;}
.footer img:last-child{margin-right: 15px;}

.end{
    background: #E91E63;
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    border-radius: 4px;
    padding: 19px 20px;
    position: absolute;
    bottom: 66px;
    display: none;
}

.last{
    right: 20px;
}

.first{
    left: 20px;
}


/*Responsive */

@media only screen and (max-width: 1110px) and (min-width:500px)  {
    .numberA img, .numberB img{width:140px;}
    .operation img, .equal img{ width:30px; }
    .result{
    	width: 130px !important;
        height: 102px !important;
        }
    .numbers img{width:70px;}

    .operation-container{
    	margin-top:80px;
    	margin-bottom:80px;
    }
}

@media screen and (max-width: 500px) {
    .numberA img, .numberB img{width:140px;}
    .operation img, .equal img{ width:30px; }
    .result{
    	width: 130px !important;
        height: 102px !important;
        }
    .numbers img{width:40px;}

    .operation-container{
		margin-top: 15px;
		margin-bottom: 15px;
		flex-direction: column;
    }
    header h3{
    	font-size:14px;
    }
    .footer img{
    	width:30px;
    }
    .end{
         padding: 11px 12px;
        position: absolute;
        bottom: 24px;
    }
}